<style>
  a {
    text-decoration: none;
  }
  a:after {
    content: " / ";
    color: #666;
  }
  a:hover {
    color: #f66666;
    border-bottom: 2px solid #f66666;
  }
</style>
<a href="/data/new">New Entry</a>
<a href="/data/Activities">Activities</a>
<a href="/data/Books">Books</a>
<a href="/data/Checkins">Checkins</a>
<a href="/data/Citibikes">Citibikes</a>
<a href="/data/Cities">Cities</a>
<a href="/data/Coffees">Coffees</a>
<a href="/data/Flights">Flights</a>
<a href="/data/Gyms">Gyms</a>
<a href="/data/Mta">Mta</a>
<a href="/data/Nails">Nails</a>
<a href="/data/Netflixes">Netflixes</a>
<a href="/data/Runs">Runs</a>
<a href="/data/Sales">Sales</a>
<a href="/data/Seamlesses">Seamlesses</a>
<a href="/data/Ubers">Ubers</a>