<style>
  a {
    text-decoration: none;
  }
  a:after {
    content: " / ";
    color: #666;
  }
  a:hover {
    color: #f66666;
    border-bottom: 2px solid #f66666;
  }
</style>
<a href="/data/models/new">New Entry</a>
<a href="/data/models/Activities">Activities</a>
<a href="/data/models/Books">Books</a>
<a href="/data/models/Checkins">Checkins</a>
<a href="/data/models/Citibikes">Citibikes</a>
<a href="/data/models/Cities">Cities</a>
<a href="/data/models/Coffees">Coffees</a>
<a href="/data/models/Flights">Flights</a>
<a href="/data/models/Gyms">Gyms</a>
<a href="/data/models/Mta">Mta</a>
<a href="/data/models/Nails">Nails</a>
<a href="/data/models/Netflixes">Netflixes</a>
<a href="/data/models/Runs">Runs</a>
<a href="/data/models/Sales">Sales</a>
<a href="/data/models/Seamlesses">Seamlesses</a>
<a href="/data/models/Ubers">Ubers</a>