<link rel="stylesheet" href="/stylesheets/style.css">

<header>
  <div id="homeimage">
    <div class="overlay">
      <div class="home-box">
        <h1>ALINA GUZMAN</h1>
        <h2>SOFTWARE ENGINEER</h2>
      </div>
    </div>
  </div>
</header>

<nav class="nav">
  <div>
    <a href="#about-box">About</a>
    <a href="#work-box">Projects</a>
    <a href="#blog-box">Blog</a>
    <a href="#contact-box">Contact</a>
  </div>
</nav>

<div class="main">
  <div id="about-box">
    <p>When I'm not repping Brooklyn I'm writing code or <a href="https://www.instagram.com/bklynails" target="_blank">getting compliments on my nails</a>. Ask me about my <a href="https://www.instagram.com/p/9cFPRKjHd_/" target="_blank">two</a> <a href="https://www.instagram.com/p/-AEVw1jHaM/" target="_blank">cats</a> or when my next <a href="https://www.instagram.com/p/BDBSb3uDHTb/?taken-by=alinochkaa" target="_blank">half marathon</a> is. Also playing into my <a href="https://www.instagram.com/p/2PEISUDHWN/" target="_blank">Ukrainian</a> roots with weekly <a href="https://www.instagram.com/p/-FMUz8jHdg/?taken-by=alinochkaa" target="_blank">banya</a> trips.</p>
  </div>
</div>

<div id="work">
</div>

<div id="work-box">
  <h1>Projects</h1>
  <div class="project-kick">
  </div>

  <div class="cgn">
  </div>

  <div class="interior">
  </div>
</div>

<div id="blog">
</div>

<div id="blog-box">
  <h1>Blog Corner</h1>

</div>

<div id="contact">

</div>
<div id="contact-box">
  <h1>Contact</h1>

  <a class="email" href="mailto:alina.e.guzman@gmail.com">alina.e.guzman@gmail.com</a>

  <div class="icons">
    <div class="icon">
      <a href="https://github.com/alinaguzman" target="_blank">
        <img src="/images/github.png"></a>
    </div>

    <div class="icon">
      <a href="http://www.linkedin.com/in/alinaguzman" target="_blank">
        <img src="/images/linkedin.png"></a>
    </div>

    <div class="icon">
      <a href="http://twitter.com/alinochkaa" target="_blank">
        <img src="/images/twitter.png"></a>
    </div>

    <div class="icon">
      <a href="http://instagram.com/alinochkaa" target="_blank">
        <img src="/images/ig.png">
      </a>
    </div>

    <div class="icon">
      <a href="http://flickr.com/photos/malinerr/" target="_blank">
        <img src="/images/flickr.png">
      </a>
    </div>
  </div>


</div>
<div id="footer">
  <p>Created despite cat interruptions.</p>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>


<script>
  var  mn = $(".nav");
  mns = "nav-scrolled";
  hdr = $('header').height();
  hide = "hideheader";

  $(window).scroll(function() {
    if( $(this).scrollTop() > hdr ) {
      mn.addClass(mns);
      $('header').addClass(hide)
    } else {
      mn.removeClass(mns);
      $('header').removeClass(hide)
    }
  });

  $('nav a').click(function(){
    $('html, body').animate({
      scrollTop: $( $(this).attr('href') ).offset().top - 70
    }, 1000);
    return false;
  });
</script>

