@import url(https://fonts.googleapis.com/css?family=Lato:100);

html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding-top: 90vh;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

p {
    font-weight: 900;
    font-size: 1.2em;
}

h1 {
    font-weight: 100;
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

header {
    z-index: -1;
    background: url('../images/imagehome.jpg');
    background-repeat: no-repeat;
    background-position: 0, -125px, 0;
    height: 100vh;
    width: 100%;
    background-size: 100% auto;
    position: fixed;
    top: 0;
}
.nav,
.main {
    position: relative;
}
.nav {
    background: #323232;
    height: 80px;
    z-index: 150;
    margin-bottom: -80px;
}

.nav div {
    padding-top: 2%;
}

.nav a {
    padding: 0 8%;
    text-decoration: none;
    font-size: 1.4em;
    color: #999;
}

.nav a:hover {
    color: #f66666;
}

.nav-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
}

.hideheader {
    display: none;
}

.main {
    background: #323232;
    padding: 65px;
    color: #999;
    text-align: center;
    height: 200px;
}

.overlay {
    background: rgba(0,0,0,0.65);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
}

#about-box {
    width: 550px;
    margin: auto;
    text-align: center;
}

#about-box a {
    text-decoration: dashed;
    color: #f66666;
}

#about-box a:hover {
    text-decoration: dotted;
    color: #999;
}

.home-box h1 {
    z-index: -1;
    font-size: 4em;
    color: #fff;
    text-align: center;
    margin-left: 20px;
    margin-top: 20%;
    padding: 0;
}

.home-box h2 {
    color: #fff;
    font-size: 2em;
    margin-top: -30px;
}

#work, #blog, #contact {
    height: 100vh;
    width: 100%;
}

#work-box, #blog-box, #contact-box {
    background: rgba(255,255,255,0.9);
}

#work {
    background: url('../images/imagework.jpg')  ;
    background-repeat: no-repeat;
    background-position: 0, -125px, 0;
    background-attachment: fixed;
    background-size: 100% auto;
    position: relative;
}

#work-box {
    height: 400px;
    /*width: 100%;*/
    padding: 90px 30px 30px;
    overflow-x: auto;
    white-space: nowrap;
}

#blog {
    background: url('../images/imageblog.jpg')  ;
    background-repeat: no-repeat;
    background-position: 0, -125px, 0;
    background-attachment: fixed;
    background-size: 100% auto;
    position: relative;
}

#blog-box {
    height: 300px;
    padding: 90px 30px 30px;
}

#contact {
    background: url('../images/imagecontact.jpg');
    background-repeat: no-repeat;
    background-position: 0, -125px, 0;
    background-attachment: fixed;
    background-size: 100% auto;
    position: relative;
}

#contact-box {
    margin: auto;
    height: 175px;
    width: 400px;
    padding: 90px 30px 30px;
    margin-bottom: -20px;
    text-align: center;
}

.email {
    font-weight: 900;
    text-decoration: none;
    text-align: center;
    color: #f66666;
    margin-top: -15px;

}
.email:hover {
    text-decoration: dashed;
}

.icons {
    margin: auto;
    text-align: center;
    margin-top: 15px;
}
.icon {
    display: inline-block;
    background-size: 80%;
    height: 45px;
    width: 45px;
}

.icon a {
    text-decoration: none;
}

.icon img {
    background-size: 80%;
    width: 80%;
}

.icon:hover {
    opacity: .5;
}



#work-box h1, #contact-box h1 {
    margin-top: -70px;
}
.project-kick, .cgn, .interior {
    background: url('../images/projectkick.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 45%;
    display: inline-block;
    margin-right: 20px;
}

.project-kick {
}

.cgn {
    background: url('../images/cgn.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.interior {
    background: url('../images/interior.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.project-kick:hover, .cgn:hover, .interior:hover {
    cursor: crosshair;
    opacity: .5;
}


/*footer*/

#footer {
    background-color: #111;
    height: 60px;
    text-align: center;
    z-index: 99999;
}

#footer p{
    padding-top: 20px;
    padding-left: 40px;
    color: #999;
    font-size: 1.2em;
}

#footer a{
    text-decoration: none;
    color: #f66666;
}

#footer a:hover{
    color: #f4f4f4;
    border-bottom: 2px solid #f4f4f4;
}


