<% include ../partials/form %>

<form action="/users/register" method="post">
  <fieldset>
    <label for="title">Username:</label>
    <input type="username" name="username" />

    <label for="category">Password:</label>
    <input type="password" name="password" />
  </fieldset>
  <br />
  <input type="submit" value="Register User" />
</form>