register page
<form action="/users/signup" method="post" class="data_form">
  <fieldset class="activity models">
    <label for="title">username:</label>
    <input type="username" name="username" />

    <label for="category">password:</label>
    <input type="password" name="password" />
  </fieldset>

  <br />
  <input class="show" type="submit" value="Submit manual entry" />
</form>