<form action="" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="Enter your full name" />
    <br />
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Enter your email address" />
    <br />
  <select class="dynamic" name="table_type">
    <option value="">Select</option>
    <option value="one">Activity One</option>
    <option value="two">Activity Two</option>
    <option value="three">Activity Three</option>
  </select>
    <br />
    <input type="submit" value="Create Profile" />
</form>